.pa-modal-ext {
	z-index: 100;
	position: absolute;

	display: flex;
	flex-direction: row;
	align-items: end;
	justify-content: center;

	inset: 0;
	padding: 1rem;

	touch-action: none;
	user-select: none;

	&.left {
		justify-content: start;
	}

	&.right {
		justify-content: end;
	}
}

.pa-modal-content {
	color: var(--c-fg);
	background-color: var(--c-modal-bg);
	box-shadow: 0 0 1rem #0002;
	border-radius: 0.5rem;
	width: 480px;
	max-width: 75%;
	max-height: 85%;
	padding: 1rem;
	overflow-y: scroll;
}

.pa-modal-title {
	font-size: 2em;
	font-weight: bold;
	margin: 0.25em 0;
	line-height: 1;

	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: space-between;

	& button {
		font-size: 1em;
		background: none;
		border: none;
		border-radius: 0.25em;
		color: var(--c-fg);

		&:hover {
			background-color: var(--c-bg);
		}

		& > svg {
			width: 1em;
			height: 1em;
		}
	}
}
