@import "./modal.scss";

.p-edit-view {
	position: absolute;
	inset: 0;

	display: flex;
	flex-direction: column;
}

.p-paint-area {
	flex: 1;
	position: relative;
}

.p-tool-panel {
	background-color: var(--c-bg);
	border-top: 1px solid var(--c-fg-dim);
	padding: 0.25rem;
}

/* Tool Panel */
.p-tool-row {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
}

button.p-tool-btn {
	background: none;
	border: none;
	border-radius: 0.5rem;
	color: var(--c-fg);
	cursor: pointer;
	font-size: 1rem;
	padding: 0.5rem 1rem;

	touch-action: none;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;

	&:hover {
		background: var(--c-tool-btn-hover);
	}

	&:active,
	&.active {
		background: var(--c-tool-btn-active);
		color: var(--c-fg-bold);
	}
}

button.p-dot-btn {
	width: 90%;
	padding: 1rem 1.5rem;
	background: var(--c-prim);

	display: flex;
	justify-content: center;
	align-items: center;

	font-weight: bold;

	&:hover {
		background: var(--c-prim-dim);
	}

	&:active {
		background: var(--c-prim-bold);
	}
}

.p-tool-color-preview {
	border: 1px solid #000;
	border-radius: 0.5rem;
	width: 1.5em;
	height: 1.5em;
}

/* -- Modal */
.pa-m-color-picker {
	margin: auto;
	min-width: 10rem;
	min-height: 10rem;

	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;

	& > .wheel {
		width: 200px;
		height: 200px;
	}
}
