.p-edit-view {
	position: absolute;
	inset: 0;

	display: flex;
	flex-direction: column;
}

.p-paint-area {
	flex: 1;
	position: relative;
}

.p-tool-panel {
	background-color: #8884;
}

/* Tool Panel */
.p-tool-row {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
}

button.p-tool-btn {
	background: #888;
	border: outset 0.25rem #aaa;
	border-radius: 1rem;
	color: white;
	cursor: pointer;
	font-size: 1rem;
	padding: 0.5rem 1rem;

	touch-action: none;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;

	&:hover {
		border-style: inset;
		background: #777;
		color: #ddd;
	}

	&:active {
		border-style: inset;
		background: #666;
		color: #ccc;
	}
}

button.p-dot-btn {
	width: 90%;
	padding: 1rem 1.5rem;
}

.p-tool-color-preview {
	border: 1px solid #000;
	border-radius: 50%;
	width: 1em;
	height: 1em;
}

/* -- Modal */
.pa-m-color-picker {
	margin: auto;
	min-width: 10rem;
	min-height: 10rem;

	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;

	& > .wheel {
		width: 200px;
		height: 200px;
	}
}
