.cv-root {
	position: absolute;
	overflow: hidden;
	inset: 0;
}

.cv-root > *,
.cv-view > * {
	position: absolute;
	left: 0;
	top: 0;
}

.cv-pix {
	image-rendering: pixelated;

	outline: 1px solid #0f0;

	display: block;
}

.cv-cursor {
	line-height: 0;
}
