input[type="range"] {
	width: 100%;
	height: 1em;
	background: var(--c-fg-dim);

	&::-webkit-slider-thumb,
	&::-moz-range-thumb {
		-webkit-appearance: none;
		appearance: none;
		width: 1em;
		height: 1em;
		background: var(--c-fg-bold);
		border-radius: 50%;
		cursor: pointer;
	}
}
