/* @import url("./static/font-galmuri/galmuri.css"); */

* {
	font-family: sans-serif;
}

:root {
	font-size: 16px;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
}
