/* @import url("./static/font-galmuri/galmuri.css"); */

* {
	font-family: sans-serif;
}

:root {
	font-size: 16px;

	color-scheme: light dark;
	color: var(--c-fg);
	background-color: var(--c-bg);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

:root {
	--c-bg: #ddd;
	--c-fg: #444;
	--c-fg-dim: #888;
	--c-fg-disabled: #aaa;
	--c-fg-bold: #000;

	--c-prim: #76cd5c;
	--c-prim-dim: #a3de90;
	--c-prim-bold: #3b7d26;

	--c-modal-bg: #eee;

	--c-tool-btn-hover: #ccc;
	--c-tool-btn-active: #bbb;
}

@media (prefers-color-scheme: dark) {
	:root {
		--c-bg: #333;
		--c-fg: #ddd;
		--c-fg-dim: #888;
		--c-fg-disabled: #666;
		--c-fg-bold: #fff;

		--c-prim: #3b7d26;
		--c-prim-dim: #5faa4a;
		--c-prim-bold: #76cd5c;

		--c-modal-bg: #444;

		--c-tool-btn-hover: #777;
		--c-tool-btn-active: #888;
	}
}

body {
	margin: 0;
}

* {
	touch-action: manipulation;
}
