/* @import url("./static/font-galmuri/galmuri.css"); */

* {
	font-family: sans-serif;
}

:root {
	font-size: 16px;

	color-scheme: light dark;
	color: #aaa;
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
	:root {
		color: #aaa;
		background-color: #242424;
	}

	body {
		background-color: #242424;
	}
}

body {
	margin: 0;
}
